.container {
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-weight: bold;
  color: #007bff;
}

.table {
  margin-top: 20px;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.btn-warning {
  color: #ffffff;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-sm {
  min-width: 90px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btnCancel{
  margin-left: 10px;
}
